.faq-mail {
  margin: 0 auto;
  position: relative;
  border-bottom: 8px solid #222;
  padding: 50px 5%;
  margin-bottom: 0;
  background: transparent;
  color: white;
  padding: 70px 45px;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 767.98px) {
    .faq-mail {padding: 70px 0px;}
}


.faq h1 {
  text-align: center;
}

.faq ul {
  max-width: 815px;
  display: block;
  list-style-type: disc;
  margin: 52px auto;
  padding-left: 0px;
}

.faq li {
  list-style-type: none;
  margin: 0px 0px 8px 0px;
  display: list-item;
  text-align: -webkit-match-parent;
}

.faq button {
  position: relative;
  text-align: left;
  font-size: 27px;
  font-weight: 400;
  width: 100%;
  padding: 21px 57px 21px 31px;
  margin-bottom: 1px;
  border: 0;
  overflow: visible;
  background-color: #303030;
  color: white;
  cursor: pointer;
 -webkit-font-smoothing: antialiased;
 -webkit-appearance: button;
}

@media (max-width: 767.98px) {
    .faq button{font-size: 18px;max-width: 100%;}
}

.faq div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.faq span {
  display: inline-block;
  text-align: left;
  padding: 21px;
  background: #303030;
}

.faq svg {
  position: absolute;
  right: 1em;
  height: 1em;
  width: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: white;
}

.svg-icon-thin-x {
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1em;
  width: 1em;
  fill: white;
}

.svg-closed {
  -webkit-transform: translateY(-50%) rotate(-45deg);
     -moz-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
       -o-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.faq-open {
  max-height: 1200px;
  -webkit-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  -o-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  -moz-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
